// Fonts
$font-family: 'Helvetica', sans-serif;

// Colors
$black-color: rgba(0,0,0,1);
$white-color: rgba(255,255,255,1);
$primary-color: rgba(128,109,104,1);
$secondary-color: rgba(166, 153, 149, 1);

// App Settings
$background-color: rgba(0,0,0,0.4);

// Navigation settings
$navigation-width: 110px;