/// Adds REM Type font definitions
///
/// @param {number} $size
/// @param {number} $line
///
/// @example scss - Basic Usage Sass
///		.elem {
///			@include font-size(1.4);
///		}

@mixin font-size($size: 1.6, $line: $size * 1.25) {
	font-size: ($size * 10) + px;
	line-height: ($line * 10) + px;
	font-size: $size + rem;
	line-height: $line + rem;
}

// UTILITIES
@mixin no-margin-padding() {
	margin: 0;
	padding: 0;
}

// NAVIGATION
@mixin navigation-position($pos: 'right') {
	@if $pos == 'right' {
		right: 0px;
	} @else if $pos == 'left' {
		left: 0px;
	} 
}