@import '_defaults';
@import '_mixins';

.progressView {
	position: absolute;
	@include navigation-position('right');
	width: $navigation-width;
	height: 100%;
	color: $white-color;
	background-color: $primary-color;
	font-family: $font-family;
}