@import '_defaults';
@import '_mixins';
@import '_navigation';

html, body {
	font-size: 62.5%;
	width: 100%;
	height: 100%;
	@include no-margin-padding();
	font-family: $font-family;
}

#main {
	position: absolute;
	margin: 0;
	padding: 20px 140px 20px 20px
}

#main h1 {
	color: $black-color;
	@include font-size(2.4);
	@include no-margin-padding();
}

#main p {
	@include font-size(1.4);
}

#navigation p, #navigation span {
	@include font-size(1.4);
	@include no-margin-padding();
}